.gaugeContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.gauge {
  margin: 0 1rem;
}

.row {
  margin: 0.5rem 0;
}

.slider {
  margin: 0 1rem;
}

.section {
  margin: 1rem 0;
  padding: 1rem;
  background: #b8ebd0;
}

.heading {
  margin-top: 0;
}
