.App {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50rem;
  height: 100vh;

}

.defaultScreen {
  display: grid;
  place-items: center;
  flex: 1;

  .textInstruction {
    font-size: 2rem;
    text-align: justify;
    width: 400px;
  }
}

$widthRootDescription: 300px;
.rootDescription {
  width: $widthRootDescription;
  height: 100vh;
  background: wheat;
  padding: 1rem;
  position: fixed;
}

.taskContainer {
  margin-left: $widthRootDescription;
  display: flex;
  height: 100vh;
  
  .taskDescription {
    background: lightseagreen;
    width: 240px;
    height: 100%;
    padding: 1rem;
  }

  .taskSubapp {
    flex: 1;
  }
}
