.App {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50rem;
  height: 100vh;

  .app-child {
    width: 48%;
    height: 60%;
  }
}

.rootDescription {
  width: 350px;
  height: 100vh;
  background: wheat;
  padding: 1rem;
}

.table-contents {
  background: cornsilk;
}

.task-container {
  background: lightseagreen;
}
